* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 600px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.square {
  height: 100px;
  width: 100px;
  background-color: aliceblue;
}
